<footer class="border-top py-2">
  <div class="container">
    The service is provided by <a class="text-decoration-none" href="https://pi-qo.com" target="_blank">PiQo Solutions®</a> for free.
  </div>
</footer>
